<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Zaqpki - {{ user.name }}</title>
  <link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" charset="utf-8">
		function focus() {
			document.getElementById('nick').focus()
		}
	</script>
</head>
<body onload="focus()">
	<div id="container">
		<form action="/friends/edit" method="POST">
		<div class="statement">
			Tak wygląda <strong>Twój profil</strong> w Zaqpkach
		</div>
		<div class="left_column">
			<div class="title"><strong>Avatar</strong></div>
			<div class="field">
				<a href="http://pl.gravatar.com/" target="_blank"><img src="{{ user.photo }}"></img></a>
			</div>
		</div>
		<div class="right_column">
			<div class="title"><strong>Email</strong></div>
			<div class="field">
				<input type="text" disabled="disabled" value="{{ user.email }}"></input>
				<input type="hidden" name="email" value="{{ user.email }}"></input>
			</div>
			<div class="title"><strong>Nick</strong></div>
			<div class="field"><input type="text" id="nick" name="nick" value="{{ user.nick }}"></input></div>
			<div class="title">Imię</div>
			<div class="field"><input type="text" name="firstname" value="{{ user.firstname }}"></input></div>
			<div class="title">Nazwisko</div>
			<div class="field"><input type="text" name="lastname" value="{{ user.lastname }}"></input></div>
			<div class="title"><strong>Płeć</strong></div>
			<div class="field">
				<input id="female" type=radio name="sex" value="female" {% if not user.is_male %}checked="true"{% endif %}><label for="female">kobieta</label>
				<input id="male" type=radio name="sex" value="male" {% if user.is_male %}checked="true"{% endif %}><label for="male">facet</label>
			</div>
		</div>
		<div class="controlls">
			<a href="/">Cofnij</a>
			<input type="submit" value="OK"/>
			</form>
		</div>
	</div>
</body>